.navbar-brand{
    font-family: 'Cabin', sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
    transition: 0.5s;
}
.navbar-brand:hover{
    color: #4ECB8C;
}
.nav-link{
    font-family: 'Cabin', sans-serif;
    font-size: 1rem !important;
    color: #ffffff;
    transition: 0.5s;
    margin-left: .5rem;
    cursor: pointer;
}
.nav-link:hover{
    color: #4ECB8C;
}
.mylink{
    color: #4ECB8C;
    font-weight: bold;
    border-bottom: .2rem solid #4ECB8C;
}
.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: #ffffff;
  background-color: black;
}
.scrolled button{
    color: #ffffff;
}
